h1.timelineheader{
    position: relative;
    color: #fff;
    padding-bottom: 10px;
    background: #000;
    z-index: 2;
    letter-spacing: 2px;
    text-align: center;
}
.timelinesvg{
    position: relative;
    background: #000;
    z-index: 2;
    padding-bottom: 20px;
}
.timelinesvg > svg{
    fill: #fff;
    display: block;
    margin: 0 auto;
}
.timeline{
    position: relative;
    margin: 0px auto;
    padding: 40px;
    width: 100%;
    background: #000;
    color: #fff;
    z-index: 2;
}
.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 90%;
    background-color: #fff4;
}
.timeline ul li{
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    list-style: none;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear:both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear:both;
}
.timelinecontent{
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 30px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgb(233,33,99);
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(233,33,99),
                0 0 10px rgb(233,33,99),
                0 0 20px rgb(233,33,99);
}
.timeline ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 30px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgb(233,33,99);
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(233,33,99),
                0 0 10px rgb(233,33,99),
                0 0 20px rgb(233,33,99);
}
.timeline ul li h3{
    margin: 0 0 10px;
    padding: 0;
}
.timeline ul li .time h3{
    margin: 0;
    font-weight: 200;
}
.range-time-right {
    position: absolute;
    top: 15px;
    right:-250px;
    padding: 7px 18px;
    background-color: rgb(233,33,99);
    color: #fff;
    border-radius: 20px;
}
.range-time-left {
    position: absolute;
    top: 15px;
    left: -250px;
    padding: 7px 18px;
    background-color: rgb(233,33,99);
    color: #fff;
    border-radius: 20px;
}
.timeline ul li:nth-child(odd) .time:not(.range-time-right) {
    position: absolute;
    top: 15px;
    right: -198px;
    padding: 7px 18px;
    background-color: rgb(233,33,99);
    color: #fff;
    border-radius: 20px;
}
.timeline ul li:nth-child(even) .time:not(.range-time-left) {
    position: absolute;
    top: 15px;
    left: -198px;
    padding: 7px 18px;
    background-color: rgb(233,33,99);
    color: #fff;
    border-radius: 20px;
}

@media screen and (max-width:960px){
    #main > div.timeline{
        padding: 40px 20px;
    }
    #main > div.timeline::before{
        left: 20px;
    }
    #main > div.timeline > ul > li{
        position: relative;
        width: 100%;
        float: left;
        text-align: left;
        padding: 40px 0px 20px 40px;
    }
    #main > div.timeline > ul > li > div.time{
        left: 30px;
        padding: 7px 18px;
        background-color: rgb(233,33,99);
        color: #fff;
        border-radius: 20px;
        width: fit-content !important;
        width: -moz-fit-content;
        font-size: 18px;
    }
    #main > div.timeline > ul > li > div.time > h3{
        font-size: 14px;
    }
    #main > div.timeline > ul > li > div.timelinecontent > h3{
        margin-top: 25px;
    }
    .timeline ul li::before{
        left: -4px;
    }
    .timeline::before{
        height: 93%;
    }
}