/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;500;700&display=swap'); */

#main {
    position: relative;
    width: 100%;
    height: 100vh;
}

#main .box1 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right top, purple, black);
    padding-top: 40px;
    color: #fff;
}

#main .box1 h1 {
    text-align: center;
    font-size: 45px;
    /* font-family: 'Mukta', sans-serif;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4); */
}

#main .box1 svg {
    position: relative;
    display: block;
    margin: 0px auto;
    fill: #fff;
}

#main .box1 img {
    position: relative;
    display: block;
    margin: 40px auto 0;
    width: 500px;
}

#main .box1 p {
    margin-top: 40px;
    width: 80%;
    margin: 40px auto 0 auto;
    text-align: center;
}


@media screen and (max-width : 850px) {
    #main .box1 img {
        position: relative;
        width: 70%;
        margin-bottom: 40px;
    }

    #main .box1 p {
        width: 90%;
    }
}


/* Guest List  */

#main .box2 {
    background: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    font-family: 'Mukta', sans-serif;
}

#main .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
}

#main .swiper-slide {
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 300px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

#main .swiper-slide img {
    display: block;
    width: 100%;
}

.box2 h1 {
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 1em 0 0em 0;
    /* text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4); */
}

#main .box2 h2{
    color: white;
    text-align: center;
    font-family: verdana;
    /* text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4); */
}

#main .box2 p{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 0.5em;
    max-width:20em;
    /* text-shadow: 2px 2px 2px black; */
}

#main .register {
    margin-top:1em;
    min-height: 20vh;
    display: grid;
    place-items: center;
}

@media screen and (max-width : 640px) {
    .box2 h1 {
        font-size: 40px;
    }
}