footer{
    position: relative;
    width: 100%;
    min-height: 60vh;
    background: #fff9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
footer > div{
    position: relative;
    width: 25%;
    height: 400px;
    padding: 40px;
}
footer > div > h1{
    margin-bottom: 8px;
    font-size: 30px;
}
footer > div > span:nth-child(2){
    display: block;
    width: 40px;
    height: 3px;
    background: rgb(235, 23, 69);
}
footer > div > span:nth-child(3){
    display: block;
    margin-top: 5px;
    width: 60px;
    height: 3px;
    background: rgb(235, 23, 69);
}
footer .about-foot > p{
    margin-top: 20px;
    line-height: 26px;
}
footer .about-foot > div{
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
footer .about-foot > div > a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    box-shadow: 0 0 5px #0008;
    border-radius: 5px;
    margin: 0 10px;
    transition: 0.5s;
}
footer .about-foot > div > a:nth-child(1){
    margin-left: 0;
    color: #3b5998;
}
footer .about-foot > div > a:nth-child(2){
    color: #3f729b;
}
footer .about-foot > div > a:nth-child(3){
    color: #f00;
}
footer .about-foot > div > a:nth-child(4){
    color: #1da1f2;
}
footer .about-foot > div > a:nth-child(5){
    margin-left: 0;
    color: #2656bd;
}
footer .about-foot > div > a:hover:nth-child(1){
    color: #fff;
    background-color: rgb(64,93,230);
}
footer .about-foot > div > a:hover:nth-child(2){
    color: #fff;
    background : linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
footer .about-foot > div > a:hover:nth-child(3){
    color: #fff;
    background : #f00;
}
footer .about-foot > div > a:hover:nth-child(4){
    color: #fff;
    background : #1da1f2;
}
footer .about-foot > div > a:hover:nth-child(5){
    color: #fff;
    background-color: rgb(64,93,230);
}
footer .links-foot > ul{
    margin-top: 20px;
    list-style: none;
}
footer .links-foot > ul > li{
    margin: 10px;
}
footer .links-foot > ul > li > a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 10px;
    transition: 0.5s;
}
footer .links-foot > ul > li > a:hover{
    letter-spacing: 3px;
}
footer .contact-foot > div{
    width: 100%;
}
footer .contact-foot > div > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px 0;
}
footer .contact-foot > div > div > i{
    line-height: 26px;
    margin-right: 15px;
}
@media screen and (max-width:1090px){
    #main > footer{
        flex-direction: column;
    }
    #main > footer > div{
        width: 90%;
        height: fit-content;
        padding: 20px;
    }
}
@media screen and (max-width : 330px){
    footer .about-foot > div{
        width: fit-content !important;
    }
}