header {
    height: 100vh;
    background: #000;
    background: #000;
    display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.logo{
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    z-index: 6;
}
.logo img{
    /* position: relative; */
    width: 300px;
}
.logo h1{
    font-size: 18px;
    margin-top: 10px;
    font-family: consolas;
}
.logo .counter{
    position: relative;
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.logo .counter span{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo .counter span h3{
    font-size: 26px;
}
.logo .counter span hr{
    display: block;
    width: 80%;
    background: #fff;
    opacity: 0.4;
    margin: 5px 0;
}
.logo .counter span p{
    font-size: 14px;
    color: #fff;
}

@media screen and (max-width : 420px){
	.logo{
		width: 90%;
		overflow: hidden;
	}
	.logo img{
		position: relative;
		width: 95%;
	}
}

header .container{
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
header .tail{
	width: 10px;
	height: 10px;
	background-color: #14ffeb1a;
}