@font-face {
    src: url(./raidercrusader.ttf);
    font-family: myFirstFont;
}
header{
    height: 100vh;
    background: #000;
    display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.logo{
    position: absolute;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    z-index: 6;
}
.logo img{
    /* position: relative; */
    width: 450px;
}
.logo h1{
    font-size: 26px;
    margin-top: 10px;
}

.logo .counter{
    position: relative;
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.logo .counter span{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo .counter span h3{
    font-size: 26px;
}
.logo .counter span hr{
    display: block;
    width: 80%;
    background: #fff;
    opacity: 0.4;
    margin: 5px 0;
}
.logo .counter span p{
    font-size: 14px;
    color: #fff;
}

#registration {
    font-size: 0.9rem;
    font-weight: bolder;
}

#early-registration {
    white-space: nowrap;
    font-size: 0.8em;
    font-weight: bolder;
}

.registration-buttons {
    display: flex;
    gap:2em;
}

.register {
    margin-top:3em;
}

.early-register {
    margin-bottom: 2em;
}

.register a {
    position: relative;
    padding: 0.5em 0.5em;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
    text-align: center;
  }
  
  a span {
    position: relative;
    color: #fff;
    font-size: 1.2rem;
    font-family: Arial;
    z-index: 1;
  }
  
  a .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #e01b5c;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
  }

  a .other-liquid {
      background: orangered;
  }
  
  a .liquid::after,
  a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
  }
  
  a .liquid::before {
    
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }
  
  a .liquid::after {
    
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
  }
  
  a:hover .liquid{
    top: -120px;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

@media screen and (max-width : 420px){
	.logo{
		width: 90%;
		overflow: hidden;
	}
	.logo img{
		position: relative;
		width: 95%;
	}
}

header .container{
	width: 400px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
header .tail{
	width: 20px;
	height: 20px;
	background-color: #14ffeb1a;
}

#sectionone > div.logo > h1.headerText{
    font-size: 80px;
    font-family: myFirstFont;
    letter-spacing: 5px;
}
.Logo-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 60px;
    display: flex;
    padding: 20px 0 0 30px;
    align-items: center;
}
#techno_logo{
    position: relative;
    width: 40px;
}
#iic_logo{
    width: 60px;
    margin-left: 20px;
}
#sectionone > div.logo > h1:nth-child(4){
    margin-top: 40px;
}
@media screen and (max-width : 580px){
    #sectionone > div.logo > h1:nth-child(4){
        width: 90%;
        text-align: center;
        display: block;
        margin: 40px auto 0;
    }
    #sectionone > div.logo{
        width: 100%;
        height: 100%;
    }

    .registration-buttons {
        flex-direction: column;
        gap:0em;
    }
}
@media screen and (max-width : 555px){
    #sectionone{
        padding: 80px 0 50px;
    }
    #sectionone > div.logo > h1:nth-child(4){
        font-size: 22px;
        line-height: 35px;
    }
}