.wave7{
    z-index: 3;
    /* position: sticky; */
    position: relative;
    top: 0;
    width: 100%;
}
.evt{
    position: relative;
    width: 80%;
    min-height: 80vh;
    z-index: 4;
    display: block;
    margin: 0 auto;
    /* margin-top: -220px; */
    padding-bottom: 40px;
}

.evt > h1{
    font-size: 50px;
    margin-bottom: 10px;
    color: #eb1745;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 7;
    background: #fff;
}
.evt > svg{
    fill: #eb1745;
    display: block;
    margin: 0 auto;
}
.evt > .img{
    position: relative;
    width: 500px;
    display: block;
    margin: 60px auto 30px;
}
.evt > .img > img{
    position: relative;
    width: 100%;
}
.evt  span{
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
}
.evt span.btn-span{
    width: 30px;
    margin: 2px 0;
}
.evt p{
    margin: 20px 0 0 0;
}
.evt p.sec-para{
    margin-bottom: 20px;
}
.evt  ul{
    margin-top: 20px;
}
.evt  ul  li{
    margin-left: 20px;
    margin-bottom: 10px;
}
.evt > a.link{
    position: relative;
    margin-top: 15px;
    padding: 15px 30px;
    text-decoration: none;
    /* background: #FF1493; */
    display: inline-block;
    color: #eb1745;
    transition: 0.5s;
    z-index: 5;
    letter-spacing: 2px;
    font-weight: 700;
}
.evt > a.link:hover{
    color: #fff;
}
.evt > a.link::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #eb1745;
    transition: 0.5s;
    z-index: -1;
}
.evt > a.link:hover::before{
    height: 100%;
}
@media screen and (max-width:800px){
    .evt{
        width: 90%;
        /* margin-top: -140px; */
    }
    .evt > h1{
        font-size: 40px;
    }
    .evt > .img{
        width: 90%;
    }
}
@media screen and (max-width:700px){
    .evt{
        /* margin-top: -100px; */
    }
}
@media screen and (max-width:400px){
    .evt{
        /* margin-top: -30px; */
    }
}
/* Case study page */
.case{
    position: relative;
    width: 100%;
    padding: 0 10%;
    background: #000;
    color: #fff;
}
.case span{
    background: #fff;
}
.case h1{
    color: #eb1745;
    position: sticky;
    top: 0;
    background: #000;
    z-index: 7;
}
.case svg{
    fill: #eb1745;
}
.case a.link{
    color: #eb1745;
}
.case a.link::before{
    background: #eb1745;
}

/* Event with white bg */
.evt.white{
    position: relative;
    background-color: #fff;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.evt.white h1{
    background: #fff;
    color: #eb1745;
}
.evt.white svg{
    fill: #eb1745;
}
.white a.link{
    color: #eb1745;
}
.white a.link::before{
    background: #eb1745;
}

/* B-quiz */
#main > div:nth-child(6) svg{
    fill: #eb1745;
}
#main > div:nth-child(6) a.link{
    color: #eb1745;
}
#main > div:nth-child(6) a.link:hover{
    color: #fff;
}
#main > div:nth-child(6) a.link::before{
    background: #eb1745;
}

#main > div:nth-child(7) svg{
    fill: #eb1745;
}
#main > div:nth-child(7) a.link{
    color: #eb1745;
}
#main > div:nth-child(7) a.link:hover{
    color: #fff !important;
}
#main > div:nth-child(7) > a::before{
    background: #eb1745;
}

@media screen and (max-width:432px){
    .evt > h1{
        font-size: 20px !important;
        padding: 20px 0;
    }
}