#main > header.wrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #e01b5c;
}
#main > header.wrapper > .neon-wrapper{
    display: inline-flex;
    overflow: hidden;
    filter: brightness(200%);
    height: fit-content;
    width: fit-content;
}
#main > header.wrapper > .neon-wrapper > .text{
    font-size: 60px;
    font-family: Arial;
    color: #fff;
    background: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 5px;
}
#main > header.wrapper > .neon-wrapper > .text::before{
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}
#main > header.wrapper > .neon-wrapper > .grad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(109.64201962257516deg, rgba(6, 227, 250,1) 5.911420204978038%,rgba(229, 151, 64,1) 95.95534407027817%);
    mix-blend-mode: multiply;
}
#main > header.wrapper > .neon-wrapper > .dadjo{
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle , #fff , #000 35%) center / 25% 25%;
    mix-blend-mode: color-dodge;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    to{
        transform: translate(50% , 50%);
    }
}
@media screen and (max-width:840px){
    #main > header.wrapper > .neon-wrapper > .text{
        font-size: 40px;
    }
    #main > header.wrapper > .neon-wrapper > .grad,
    #main > header.wrapper > .neon-wrapper > .dadjo{
        display: none;
    }
}
@media screen and (max-width:380px){
    #main > header.wrapper{
        padding-top: 100px;
    }
}
.wrapper > svg{
    fill: #fff;
    margin-top: 10px;
}
.wrapper > .container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
}

#sponsor {
    color:black;
    font-size: 3rem;
}

.sponsor_container {
    text-align: center;
    margin:1em 0;
}
.wrapper > .container > .sponsor_container > img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 0px 100px;
    transition: 0.5s;
}
.wrapper > .container > .sponsor_container > img:hover {
    transform: scale(1.1);
}
.wrapper > h1{
    color: #fff;
    margin-top: 30px;
}
@media screen and (max-width:960px){
    .wrapper > .container{
        padding-bottom: 60px;
    }
    .wrapper > .container > img{
        height: fit-content;
        margin: 30px 30px;
    }
}
@media screen and (max-width:360px){
    .wrapper > .container > img{
        width: 60%;
    }
}